<div class="row">
  <div class="col-sm-12">
    <form action="" method="POST">
      <div class="form-group">
        <% if (errores && errores.nombre) { %>
          <div class="alert alert-danger" role="alert">
            <%= errores.nombre %>
          </div>
        <% } %>
        <label for="nombre">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre completo" value="<%= datos && datos.nombre ? datos.nombre : '' %>">
      </div>
      <div class="form-group">
        <% if (errores && errores.email) { %>
          <div class="alert alert-danger" role="alert">
            <%= errores.email %>
          </div>
        <% } %>
        <label for="nombre">Correo electronico</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Correo electronico" value="<%= datos && datos.nombre ? datos.email : '' %>">
      </div>
      <div class="form-group">
        <% if (errores && errores.password) { %>
          <div class="alert alert-danger" role="alert">
            <%= errores.password %>
          </div>
        <% } %>
        <label for="nombre">Contrasena</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contrasena">
      </div>
      <div class="form-group">
        <label for="nombre">Confirmacion de contrasena</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repita la contrasena">
      </div>
      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Registrar</button>
    </form>
  </div>
</div>
