<div>
  <h1>Registro exitoso</h1>

  <div><%= datos.nombre%>, su registro ha sido exitoso. Recuerde conectarse con la direccion de correo electronico que ingreso en su sistema, la cual es <%= datos.email %>.</div>
</div>
